############COMMON##################
db_ip={MYSQL_DESTINATION_IP}
db_port={MYSQL_DESTINATION_PORT}

############HUBBLE-STARGATE########################
hubble_onelog_logstash_ip={HUBBLE_STANDALONE_IP}