#!/usr/bin/mysqlsh --file
var dbUser = "{% if db_user %}{{ db_user }}{% else %}root{% endif %}"
var dbPass = "{% if db_passwd %}{{ db_passwd }}{% else %}chinacloudroot{% endif %}"
var clusterName = "dc"

try {
    shell.connect('{% if db_user %}{{ db_user }}{% else %}root{% endif %}@{{ ansible_default_ipv4.address }}', dbPass)
    var cluster = dba.getCluster(clusterName);
    print(cluster.status());
} catch (e) {
    print('\nThe InnoDB cluster could not be checked.\n\nError: ' + e.message + '\n');
}
