#jinja2: lstrip_blocks: False, trim_blocks: False
version: '2.1'
services:
  mysql:
    env_file:
      - ./conf/mysql.env
    image: {{ docker_registry }}/library/mysql-server:{% if mysql_tag %}{{ mysql_tag }}{% else %}5.7.23{% endif %}
    restart: always
    container_name: mysql
    volumes:
      - "{% if db_datapath %}{{ db_datapath }}{% else %}./db{% endif %}:/var/lib/mysql"
      - "./conf/my.cnf:/etc/mysql/my.cnf"
      - "./log:/var/log/mysql"
      - "./mysql-init-sql/init_user.sql:/docker-entrypoint-initdb.d/init_user.sql"
    healthcheck:
      test: mysqladmin -u{% if db_user %}{{db_user}}{% else %}root{% endif %} -p{% if db_passwd %}{{ db_passwd }}{% else %}chinacloudroot{% endif %} ping
      interval: 1m
      timeout: 10s
      retries: 15
    network_mode: "host"
