############COMMON##################
db_ip={MYSQL_DESTINATION_IP}
db_port={MYSQL_DESTINATION_PORT}
db_user=root
db_pwd=chinacloudroot
#todo: zk地址如何获取
zookeeper_quorum={ZOOKEEPER_ADDRESS}

#############HUBBLE_STARGATE##############
hubble_orchestra_cluster_name=hubble_orchestra
hubble_onelog_logstash_ip={HUBBLE_STANDALONE_IP}
hubble_lineage_ip={ONEX_IP}
hubble_lineage_port=80
#todo:ui地址未确定
hubble_ui_ip={ONEX_IP}

eureka_url={%- for host in groups['onex_servers'] -%}
        http://{{hostvars[host]['ansible_host']}}:18087/eureka/
    {%- if loop.nextitem is defined %},{% endif -%}
{%- endfor -%}