#jinja2: lstrip_blocks: False, trim_blocks: False
MYSQL_HOST={{hostvars[groups['mgr_primary'][0]]['ansible_host']}}
MYSQL_PORT={% if db_port %}{{ db_port }}{% else %}3306{% endif %}
MYSQL_USER={% if db_user %}{{ db_user }}{% else %}root{% endif %}
MYSQL_PASSWORD={% if db_passwd %}{{ db_passwd }}{% else %}chinacloudroot{% endif %}
MYSQL_INNODB_CLUSTER_MEMBERS={{groups['mgr_servers']|length}}
