{
  "apiVersion": 1,
  "datasources": [
    {
      "access": "proxy",
      "editable": false,
      "name": "prometheus",
      "orgId": 1,
      "type": "prometheus",
      "url": "http://{{ ansible_default_ipv4.address }}:9090",
      "version": 1,
      "isDefault": true
    }
  ]
}
