##############CDH###################
yarn_rm_ip={YARN_RM_IP}

############COMMON##################
db_ip={MYSQL_DESTINATION_IP}
db_port={MYSQL_DESTINATION_PORT}
zookeeper_quorum={ZOOKEEPER_ADDRESS}

#############ONEX########################
one_infrastructure_api_ip={ONEX_IP}
hubble_ip={ONEX_IP}
hubble_metagrid_api_ip={ONEX_IP}
METAGRID_API_IP={ONEX_IP}

#############HUBBLE_STARGATE##############
hubble_onelog_logstash_ip={HUBBLE_STANDALONE_IP}
elasticsearch_ip={HUBBLE_STANDALONE_IP}
hubble_orchestra_cluster_name=hubble_orchestra
#############HUBBLE_NIFI##################
hubble_nifi_ip={HUBBLE_NIFI_IP}

eureka_url={%- for host in groups['onex_servers'] -%}
        http://{{hostvars[host]['ansible_host']}}:18087/eureka/
    {%- if loop.nextitem is defined %},{% endif -%}
{%- endfor -%}


