############CDH###################
yarn_rm_ip={YARN_RM_IP}
hdfs_namenode_ip={HDFS_NAMENODE_IP}
hive_server2_list={HIVE_SERVER2_LIST}
hbase_zookeeper_list={HBASE_ZOOKEEPER_LIST}
hdfs_namenode_list={HDFS_NAMENODE_LIST}

############COMMON##################
db_ip={MYSQL_DESTINATION_IP}
db_port={MYSQL_DESTINATION_PORT}
keycloak_ip={ONEX_IP}
rabbitmq_addresses={RABBITMQ_IP}


#############WHITEHOE####################
fast_whitehole_business_ip={WHITEHOLE_IP}
whitehole_business_port={WHITEHOLE_BUSSINESS_PORT}
#############HUBBLE_METAGRID####################
neo_db_ip={HUBBLE_STANDALONE_IP}

#############HUBBLE_BROKER##########################
hubble_broker_parent_ip={ONEX_IP}
hubble_file_broker_ip={ONEX_IP}

hubble_file_broker_port=80
eureka_url={%- for host in groups['onex_servers'] -%}
        http://{{hostvars[host]['ansible_host']}}:18087/eureka/
    {%- if loop.nextitem is defined %},{% endif -%}
{%- endfor -%}

