MYSQL_PORT_3306_TCP_ADDR={MYSQL_DESTINATION_IP}
MYSQL_PORT_3306_TCP_PORT={MYSQL_DESTINATION_PORT}
MYSQL_DATABASE=one_infrastructure
MYSQL_USER=root
MYSQL_PASSWORD=chinacloudroot
KEYCLOAK_USER=keycloak
KEYCLOAK_PASSWORD=keycloak
DB_VENDOR=MYSQL
# PROXY_ADDRESS_FORWARDING=true
NODE_IP={{ ansible_default_ipv4.address }}