port=18087
{% if groups['onex_servers']|length > 1 %}
eurekaUrl={%- for host in groups['onex_servers'] -%} 
    {%- if hostvars[host]['ansible_host'] != ansible_default_ipv4.address -%}
        http://{{hostvars[host]['ansible_host']}}:18087/eureka/
    {%- endif -%}
    {%- if loop.nextitem is defined %},{% endif -%} 
{%- endfor -%}
{%- endif -%}