<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate"  level="ERROR" />
    <logger name="springfox" level="ERROR" />
    <logger name="org.apache" level="ERROR" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.springframework.web" level="ERROR" />
    <logger name="org.springframework.boot" level="ERROR" />
    <logger name="org.springframework.cloud" level="ERROR" />
    <logger name="org.springframework.cloud.config" level="ERROR" />
    <logger name="org.springframework.cloud.netflix.eureka.EurekaDiscoveryClientConfiguration" level="INFO" />
    <logger name="com.netflix" level="ERROR" />
    <logger name="com.netflix.eureka" level="ERROR" />
    <logger name="com.netflix.config" level="ERROR" />
    <logger name="org.activiti" level="ERROR" />
    <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="INFO" />


    <logger name="com.whitehole" level="INFO" />
    <logger name="cetc.chinacloud.co" level="INFO" />

    <!-- 日志输出级别 -->
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>